body {
  font-family: monospace;
  background: #fff;
}

h1 {
  font-size: 30px;
  font-weight: 700;
  line-height: 48px;
  margin-bottom: 0;
}
p {
  font-size: 15px;
  margin-top: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
h6 {
  font-size: 20px;
  font-weight: 200;
  line-height: 40px;
  text-align: left;
  padding: 10px;
}
p {
  font-size: 15px;
}
a {
  text-decoration: none;
  font-size: 15px;
}
strong {
  font-size: 20px;
  text-align: center;
}
button {
  width: 100px;
  height: fit-content;
  margin: 20px 0;
  border: none;
  border-radius: 30px;
  background: #bbe4eb;
  color: #fff;
}
button:hover {
  background: #d98a25;
}

.container {
  margin: 0 auto;
}
.weather-app-wrapper {
  margin: 50px auto 10px;
  width: 100%;
  background: url("https://media.istockphoto.com/id/531889697/photo/weather-forecast-concept.jpg?s=612x612&w=0&k=20&c=FsYyo1HrL9WCpYt4RUzV39qIqEpz6ylTXxVxlh95lR8=");
  border: 1px solid #eaf4fa;
  border-radius: 25px;
}
.first-column {
  width: inherit;
  margin: 20px 0;
  margin-left: 25px;
}
.weather-icons-wrapper {
  height: 100%;
  margin: 0;
  padding: 2px;
  border: 1px solid #bbe4e9;
  border-radius: 20px;
  background: #0d0a33;
  color: #000000;
}
.icon-wind-wrapper {
  background: #d5e4e6;
  color: #aeb0b1;
  border: none transparent;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 40px;
}
.fa-cloud-moon-rain,
.fa-braille,
.fa-envelope-circle-check,
.fa-sliders {
  color: #aeb0b1;
  opacity: 0.6;
  padding: 5px;
  margin-bottom: 15px;
}
.weather-icons-body i :hover {
  color: #fff;
}
.second-column {
  margin: 20px 0;
  width: inherit;
}
.weather-temperature-wrapper {
  max-width: 100%;
  margin: 0;
  border: none transparent;
  border-radius: 20px;
  outline: none;
  background: none;
}
.card-body {
  padding: 10px;
  margin-bottom: 0;
}
.search {
  width: 100%;
  display: flex;
  border: 1px solid #bbe4eb;
  border-radius: 20px;
  padding: 5px;
  background: #fff;
}
.inputform {
  width: 100%;
  border: none transparent;
  outline: none;
  font-size: 15px;
  background: transparent;
}
.inputsubmit {
  font-size: 15px;
  border: none transparent;
  outline: none;
  color: #fff;
  background: #0d0a33;
  padding: 7px;
  margin: 0;
  border-radius: 30px;
}
.locationInfo {
  max-width: 100%;
  padding: 5px;
  height: 300px;
  color: #000000;
}
.location,
.date {
  margin-bottom: 0;
}
.weather-details {
  margin-bottom: 0;
  height: 120px;
}
.icons {
  position: relative;
  left: 60px;
  top: -45px;
}
.icons img {
  height: 200px;
}
.weatherText {
  display: flex;
  height: 30px;
  margin-bottom: 30px;
}
.temperature {
  margin-top: 30px;
}
.weatherText .degree {
  font-size: 45px;
}
.temperature .line {
  position: relative;
  top: -20px;
  font-size: 20px;
  left: -10px;
}
.temperature .line a {
  font-size: 20px;
}
.temperature .active {
  color: #000000;
  cursor: default;
}
.weatherText .weather-description {
  margin-top: 2px;
  font-style: italic;
  display: block;
}
.weatherText .weather-description::first-letter {
  text-transform: uppercase;
}
.diff-temperature {
  width: 100%;
  padding-left: 5px;
  border: 1px solid #bbe4eb;
  border-radius: 20px;
  background: #fff;
  color: #000000;
}
.temperate {
  display: flex;
  margin: 0 20px;
}
.temperate .temp1 {
  display: flex;
  margin: 0 auto;
}
.temp li {
  font-size: 14px;
  text-align: center;
}
.line1 {
  font-weight: 100;
  font-size: 45px;
}
.weather-condition {
  width: 100%;
  padding-left: 5px;
  margin-top: 7px;
  border: 1px solid lightslategrey;
  border-radius: 20px;
  background: #0d0a33;
  color: #fff;
}
.weather-condition .check {
  display: flex;
  height: 70px;
}
.check h6 {
  width: 76%;
}
.check .link {
  color: #fff;
}
.weather-data {
  margin: 0 20px;
}
.weather-data .weatherInfo {
  margin: 0 35px;
}
.third-column {
  margin: 20px 0;
}
.weather-forecast-wrapper {
  width: 500px;
  height: 100%;
  margin: 0;
  padding: 2px;
  border: 1px solid #bbe4e9;
  border-radius: 20px;
  background: #0d0a33;
  color: #fff;
}
.forecast-description {
  font-size: 15px;
  color: #aeb0b1;
}
.wrapper-forecast {
  padding-left: 15px;
  row-gap: 1.4rem;
}
.max-temperature,
.min-temperature {
  font-size: 16px;
}
.min-temperature {
  opacity: 0.6;
}
.coderInfo {
  font-size: 15px;
  margin-top: 2px;
}
.link1 {
  position: static;
}

@media (max-width: 768px) {
  .first-column {
    display: none;
  }
}
